.notification-delete {
    margin: 10px 70px 0 0;

    .notification-title {
        padding: 10px 10px 0 20px;
        color: white;
        background: #e3342f;
    }

    .notification-content {
        padding: 0 10px 10px 20px;
        color: white;
        background: #e3342f;
    }

    &.my-type {
        /*
        Style for specific type of notification, will be applied when you
        call notification with "type" parameter:
        this.$notify({ type: 'my-type', message: 'Foo' })
        */
    }
}

.notification-edit {
    margin: 10px 70px 0 0;

    .notification-title {
        padding: 10px 10px 0 20px;
        color: white;
        background: #3490dc;
    }

    .notification-content {
        padding: 0 10px 10px 20px;
        color: white;
        background: #3490dc;
    }

    &.my-type {
        /*
        Style for specific type of notification, will be applied when you
        call notification with "type" parameter:
        this.$notify({ type: 'my-type', message: 'Foo' })
        */
    }
}
