.table th,
.table td {
    padding: 1.25rem !important;
    text-align:center;
    vertical-align:middle !important;
    border-top: 0 !important;
}

.task-description {
    text-align: left !important;
}

small {
    white-space: nowrap !important;
}
