<template>
    <div class="card mt-5">

        <div class="row">
            <div class="col-sm-6 mt-5 mb-3 mx-auto">

                <form @submit.prevent="submit">
                    <div class="form-group">
                        <label for="task-title">Task name</label>
                        <input v-model="task.title"
                               type="text" name="title"
                               class="form-control"
                               id="task-title">
                        <div class="text-danger pt-1" v-show="errors.title">{{errors.title}}</div>
                    </div>

                    <div class="form-group">
                        <label for="task-description">Task description</label>
                        <textarea v-model="task.description"
                                  id="task-description"
                                  class="form-control"
                                  rows="3"
                                  name="description"></textarea>
                        <div class="text-danger pt-1" v-show="errors.description">{{errors.description}}</div>
                    </div>

                    <button type="submit" class="btn btn-success">Create task</button>
                </form>

            </div>
        </div>

    </div>

</template>

<script>

    import Swal from "sweetalert2";

    export default {

        data() {
            return {
                tasks: [],
                task: {
                    title: '',
                    description: '',
                    user_id: '',
                },

                errors: {
                    title: '',
                    description: ''
                },
            }
        },

        methods: {

            submit() {
                this.errors.title = ''
                this.errors.description = ''
                axios.post('/api/tasks', {
                    title: this.task.title,
                    description: this.task.description,
                     })
                    .then(response => {
                        window.location.href = `/tasks/`+ response.data.data.id;
                     })
                    .catch(error => {
                        if (error.response.status === 422) {
                            console.log(error.response.data.errors);
                            this.errors.title = error.response.data.errors.title[0]
                            this.errors.description = error.response.data.errors.description[0]
                        }
                    })
            },
        }
    }

</script>
