<template>
    <div class="card mt-5">

        <div class="row">
            <div class="col-sm-6 mt-5 mb-3 mx-auto">

                    <form @submit.prevent="submit">
                            <div class="form-group">
                                <label for="task-title">Task name</label>
                                <input v-model="task.title"
                                       type="text"
                                       name="title"
                                       class="form-control"
                                       id="task-title">
                                <div class="text-danger pt-1" v-show="errors.title">{{errors.title}}</div>
                            </div>

                            <div class="form-group">
                                <label for="task-description">Task description</label>
                                <textarea name="description"
                                          class="form-control"
                                          id="task-description"
                                          rows="3"
                                          v-model="task.description"></textarea>
                                <div class="text-danger pt-1" v-show="errors.description">{{errors.description}}</div>
                            </div>

                            <button type="submit" class="btn btn-success">Update task</button>
                    </form>

                    <div class="d-flex mt-4">
                        <div class="custom-file mb-5 w-50">
                            <input type="file" class="custom-file-input" id="validatedInputGroupCustomFile" ref="file" @change="selectFile">
                            <label class="custom-file-label" for="validatedInputGroupCustomFile">Choose file...</label>
                        </div>
                        <div class="ml-3">
                            <a href="#" class="btn btn-success" @click.prevent="uploadFile(task.id)">Upload file</a>
                        </div>
                    </div>

            </div>
        </div>

    </div>
</template>


<script>

    import Swal from 'sweetalert2'

    export default {

        props: [
            'id'
        ],

        data() {
            return {
                task: {
                    id: '',
                    title: '',
                    description: ''
                },
                errors: {
                    title: '',
                    description: ''
                },

                file:'',
            }
        },

        mounted() {
            this. getOldTask();
        },

        methods: {

            getOldTask() {
                axios
                    .get(`/api/tasks/${this.id}`)
                    .then(response => {
                        this.task = response.data.data
                        console.log(response.data.data)
                    })
            },

            submit() {
                this.errors.title = ''
                this.errors.description = ''

                axios
                    .put(`/api/tasks/`+this.task.id, {
                    id: this.task.id,
                    title: this.task.title,
                    description: this.task.description
                    })

                    .then((response) => {
                        if(response.status === 200) {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Task updated successfully',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                        // console.log(response.data);
                        // console.log(response.status)
                    })

                    .then(response => {
                        setTimeout(redirectHandler, 1500);
                        function redirectHandler() {
                            window.location.href = `/home`;
                        }

                    })

                    .catch(error => {
                        if (error.response.status === 422) {
                            console.log(error.response.data.errors);
                            this.errors.title = error.response.data.errors.title[0]
                            this.errors.description = error.response.data.errors.description[0]
                            Swal.fire({
                                position: 'top-end',
                                icon: 'error',
                                title: 'The task has not been updated',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    })
                },

            async uploadFile(id) {
                if (this.file == null) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Please choose some file',
                        showConfirmButton: false,
                        timer: 1500
                    })
                } else {
                    const formData = new FormData();
                    formData.append('file', this.file);
                    try {
                        await axios.post(`/api/tasks/upload-file/${id}`, formData)
                            .then(response => {
                                Swal.fire(
                                    'Congratulations',
                                    'Your file uploaded!',
                                    'success'
                                )
                            })
                    } catch (err) {
                        console.log(err)
                    }

                }
            },

            selectFile() {
                this.file = this.$refs.file.files[0];
            },

            },
        }
</script>
