<template>
    <div>
        <TableDraggable v-bind:tasksProp="tasks"></TableDraggable>
    </div>
</template>

<script>

    import TableDraggable from './TableDraggable'

    export default {

        components: {
            TableDraggable
        },

        data() {
            return {
                tasks: [],
            }
        },

        mounted() {
            this.getTasks();
        },

        methods: {

            getTasks() {
                axios
                    .get('/api/tasks')
                    .then(response => (this.tasks = response.data.data))
            },

        }

    }

</script>
