<template>

        <div class="card mt-5 mb-5">

            <div>
                <div v-show="task.id" class="card-header">Task#{{ task.id }}</div>
                <div class="card-body p-4">
                    <div v-show="task.title" class="d-flex flex-row card-title">Title:&nbsp;&nbsp;&nbsp;&nbsp;<div>{{ task.title }}</div></div>
                    <div v-show="task.description" class="d-flex flex-row card-title">Description:&nbsp;&nbsp;&nbsp;&nbsp;<div>{{ task.description }}</div></div>

                    <div class="card-title border-bottom">Images:</div>
                    <div class="mb-2">
                        <img v-for="(url, index) in imagesUrl" :key="`url-${index}`" :id="`${index}`" v-on:click="getSrc(url)" data-toggle="modal" data-target="#exampleModalCenter" class="attach-img card-img-top" :src="url" style="width: 50px; height: 50px;" alt="Card image cap">
                    </div>

                    <div class="card-title border-bottom">Text-files:</div>
                    <ul class="list-group">
                       <li class="list-group-item" :id="`${file.id}`" v-on:click="getTxt(`${file.url}`)" v-for="file in text">{{file.name}}</li>
                    </ul>

                    <div class="card-title border-bottom mt-2">Audio-files:</div>
                    <ul class="list-group">
                        <li class="list-group-item" :id="`${file.id}`" v-for="file in audio">{{file.name}}</li>
                    </ul>

                    <div class="card-title border-bottom mt-2">Video-files:</div>
                    <ul class="list-group">
                        <li class="list-group-item" :id="`${file.id}`" v-for="file in video">{{file.name}}</li>
                    </ul>

                </div>
                <div class="card-footer">
                    <p>Task created:&nbsp;&nbsp;&nbsp;&nbsp;{{ task.created_at }}</p>
                    <p>Task updated:&nbsp;&nbsp;&nbsp;&nbsp;{{ task.updated_at }}</p>
                </div>
            </div>

            <!--  Modal for images  -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img data-toggle="modal" data-target="#exampleModalCenter" class="card-img-top" :src="modalSrc" alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>

            <a :href="'/home'">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left-circle mt-2 ml-2 mb-2 icon-back-hover" width="40" height="40" viewBox="0 0 24 24" stroke-width="0.8" stroke="#9E9E9E" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"/>
                    <circle cx="12" cy="12" r="9" />
                    <line x1="8" y1="12" x2="16" y2="12" />
                    <line x1="8" y1="12" x2="12" y2="16" />
                    <line x1="8" y1="12" x2="12" y2="8" />
                </svg>
            </a>

    </div>

</template>

<script>

    export default {

        props: [
            'id'
        ],

        data() {
            return {
                task: [],
                attaches: [],
                images: [],
                audio: [],
                video: [],
                text: [],
                imagesUrl: [],
                modalSrc: '',
                textFileUrl: '',
            }
        },

        mounted() {
            this.getTask();
        },

        methods: {

            getTask() {
                axios
                    .get(`/api/tasks/${this.id}`)
                    .then(response => {
                        this.task = response.data.data
                        this.attaches = response.data.data.attaches
                        this.images = response.data.data.attaches.filter(function (item) {
                            if(item['mime_type'].includes('image')) {
                                return item;
                            }
                        });
                        this.audio = response.data.data.attaches.filter(function (item) {
                            if(item['mime_type'].includes('audio')) {
                                return item;
                            }
                        });
                        this.video = response.data.data.attaches.filter(function (item) {
                            if(item['mime_type'].includes('video')) {
                                return item;
                            }
                        });
                        this.text = response.data.data.attaches.filter(function (item) {
                            if(item['mime_type'].includes('text')) {
                                return item;
                            }
                        });
                        this.imagesUrl = this.images.map(function(item) {
                            return item['url'];
                        });
                    })

                },

            getSrc(url) {
                this.modalSrc = url;
            },

            getTxt(url) {
                this.textFile = url;
                console.log(this.textFile);
            }
        },
    }

</script>

