<template>

    <div class="row mt-4 pb-lg-5">
        <div class="col">

            <a :href="'/tasks/create'" class="btn btn-success mt-2 mb-4">Create task</a>

            <div class="table-responsive-lg">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Task name</th>
                        <th scope="col" class="col-6">Task description</th>
                        <th scope="col" class="col-2">created</th>
                        <th scope="col" class="col-2">updated</th>
                        <th></th>
                    </tr>
                    </thead>

                    <draggable :list="tasksProp" :options="{animation:200}"
                               tag="tbody"
                               @change="updateList">

                        <tr v-for="(task, index) in tasksProp" :key="task.id">
                            <td scope="row">{{ task.id }}</td>
                            <td>{{ task.title }}</td>
                            <td class="task-description">{{ task.description }}</td>
                            <td style="line-height: 1 !important;"><small >{{ task.created_at }}</small></td>
                            <td style="line-height: 1 !important;"><small >{{ task.updated_at }}</small></td>

                            <td>
                                <div class="d-inline-flex pt-2 pb-2">
                                    <div class="pr-3">
                                        <a :href="'/tasks/' + task.id" class="btn btn-success">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </div>
                                    <div class="pr-3">
                                        <a :href="'/tasks/' + task.id + '/edit'" class="btn btn-primary">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </div>
                                    <div class="pr-2">
                                        <button @click="deleteTask(task.id)" class="btn btn-danger" type="submit">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </div>

                                    <div>
                                    <svg v-on:click="toggleTodo(task)" v-if="task.checked == false" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle p-2" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FF9800" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"/>
                                        <circle cx="12" cy="12" r="9" />
                                    </svg>

                                    <svg v-if="task.checked == true" v-on:click="toggleTodo(task)" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check p-2" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#8BC34A" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"/>
                                        <circle cx="12" cy="12" r="9" />
                                        <path d="M9 12l2 2l4 -4" />
                                    </svg>
                                    </div>

                                </div>


                            </td>

                        </tr>
                    </draggable>

                </table>
            </div>



        </div>
    </div>

</template>

<script>

    import draggable from 'vuedraggable'
    import Swal from 'sweetalert2'

    export default {

        components: {
            draggable
        },

        props: [
            'tasksProp'
        ],

        data() {
            return {
                tasks:[]
            }
        },

        methods: {

            toggleTodo(el) {
                el.checked = !el.checked
                let data = new FormData();
                let title = el.title;
                let description = el.description;
                data.append('_method', 'PATCH')
                if(el.checked == true) {
                    data.append('checked', 1);
                    data.append('title', title);
                    data.append('description', description)
                }
                if(el.checked == false) {
                    data.append('checked', 0);
                    data.append('title', title);
                    data.append('description', description)
                }
                axios
                    .post('api/tasks/'+el.id, data)
            },

            updateList() {

                this.tasksProp.map((task, index) => {
                    task.order = index + 1;
                });

                let tasks = this.tasksProp

                axios.put('api/tasks/update-list', {
                    tasks: tasks
                        })
                        .then((response) => {
                            console.log(response.data);
                        })
                        .catch((error) => {
                            console.log(error);
                        })
            },

            deleteTask(id) {

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        let arr = this.tasksProp
                        let index = arr.findIndex(n => n.id === id);
                        if (index !== -1) {
                            arr.splice(index, 1);
                        }
                        axios
                            .delete(`/api/tasks/${id}`)
                            .catch((error) => {
                                console.log(error);
                            })
                        Swal.fire(
                            'Deleted!',
                            'Your task has been deleted.',
                            'success'
                        )
                    }
                })
            },
        }
    }

</script>
