<template>
    <div class="flex align-content-center" style="padding: 0.4rem">
        <img :src="avatar" style="width:32px; height:32px; border-radius:50%;" alt="avatar">
    </div>
</template>

<script>

    import {mapGetters} from 'vuex'

    export default {

        data() {
            return {
            }
        },

        computed: mapGetters({
            avatar: 'getAvatar',
        }),

        mounted() {
            this.getUser();
        },

        methods: {
            getUser() {
                this.$store.dispatch('loadUser')
            },
        }

    }

</script>


