<template>

    <div class="pb-lg-5">
        <div class="container">
            <div class="row">
                <div class="card w-75 mt-5">
                    <div class="card-body">
                        <div class="d-flex flex-column">

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">

                                    <div class="d-flex flex-column mb-3">
                                        <h3 class="card-title" v-show="user.name">{{ user.name }}'s profile</h3>
                                        <img :src="avatar" style="width:150px; height:150px; float:left; border-radius:50%; margin-right:25px;" alt="avatar">
                                    </div>

                                    <div class="d-flex mb-1">
                                        <div class="custom-file mb-2 w-25">
                                            <input type="file" class="custom-file-input " id="validatedInputGroupCustomFile" @change="getUserAvatar" accept="image/*">
                                            <label class="custom-file-label" for="validatedInputGroupCustomFile">Choose file...</label>
                                        </div>
                                        <div class="ml-3">
                                            <a href="#" class="btn btn-success" @click.prevent="uploadUserAvatar">Upload image</a>
                                        </div>
                                    </div>

                                </li>

                                <li class="list-group-item">

                                    <form @submit.prevent="updateProfile">
                                        <label for="user-name">Change your name:</label>
                                        <div class="d-flex">
                                            <input v-model="user.name"
                                                   type="text"
                                                   name="name"
                                                   class="form-control-sm w-25 mb-2"
                                                   id="user-name">
                                        </div>
                                        <div class="text-danger" v-show="errors.name">{{errors.name}}</div>

                                        <label for="user-email">Change your email:</label>
                                        <div class="d-flex">
                                            <input v-model="user.email"
                                                   type="text"
                                                   name="email"
                                                   class="form-control-sm w-25 mb-3"
                                                   id="user-email">
                                        </div>

                                        <div class="text-danger" v-show="errors.email">{{errors.email}}</div>

                                        <div class="timezone-selector form-group d-flex flex-column">
                                            <span class="mb-2">Your current time zone: {{ user.timezone }}</span>
                                            <select class="custom-select custom-select-sm w-50" v-model="user.timezone">
                                                <option v-for="option in options" v-bind:value="option.value">
                                                    {{ option.value }}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="d-flex justify-content-end">
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </div>
                                     </form>

                                </li>
                             </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import Swal from 'sweetalert2'
    import {mapState} from 'vuex'

    export default {

        props: [
            'id',
        ],

        data() {
            return {

                errors: {
                    name: '',
                    email: ''
                },

                avatar: '',
                file: null,

                selected: 'Выберите свой часовой пояс',
                options: [
                    {name: 'Option 1', value:'Выберите свой часовой пояс',},
                    {name: 'Option 2', value:'(UTC-11:00) Samoa'},
                    {name: 'Option 3', value:'(UTC-10:00) Hawaii'},
                    {name: 'Option 4', value:'(UTC-09:00) Alaska'},
                    {name: 'Option 5', value:'(UTC-08:00) Pacific Time (US; Canada)'},
                    {name: 'Option 6', value:'(UTC-08:00) Tijuana'},
                    {name: 'Option 7', value:'(UTC-07:00) Arizona'},
                    {name: 'Option 8', value:'(UTC-07:00) Chihuahua'},
                    {name: 'Option 9', value:'(UTC-07:00) La Paz'},
                    {name: 'Option 10', value:'(UTC-07:00) Mazatlan'},
                    {name: 'Option 11', value:'(UTC-07:00) Mountain Time (US; Canada)'},
                    {name: 'Option 12', value:'(UTC-06:00) Central America'},
                    {name: 'Option 13', value:'(UTC-06:00) Central Time (US; Canada)'},
                    {name: 'Option 14', value:'(UTC-06:00) Guadalajara'},
                    {name: 'Option 15', value:'(UTC-06:00) Mexico City'},
                    {name: 'Option 16', value:'(UTC-06:00) Monterrey'},
                    {name: 'Option 17', value:'(UTC-06:00) Saskatchewan'},
                    {name: 'Option 18', value:'(UTC-05:00) Bogota'},
                    {name: 'Option 19', value:'(UTC-05:00) Eastern Time (US; Canada)'},
                    {name: 'Option 20', value:'(UTC-05:00) Indiana (East)'},
                    {name: 'Option 21', value:'(UTC-05:00) Lima'},
                    {name: 'Option 22', value:'(UTC-05:00) Quito'},
                    {name: 'Option 23', value:'(UTC-04:00) Atlantic Time (Canada)'},
                    {name: 'Option 24', value:'(UTC-04:30) Caracas'},
                    {name: 'Option 25', value:'(UTC-04:00) La Paz'},
                    {name: 'Option 26', value:'(UTC-04:00) Santiago'},
                    {name: 'Option 27', value:'(UTC-03:30) Newfoundland'},
                    {name: 'Option 28', value:'(UTC-03:00) Brasilia'},
                    {name: 'Option 29', value:'(UTC-03:00) Buenos Aires'},
                    {name: 'Option 30', value:'(UTC-03:00) Georgetown'},
                    {name: 'Option 31', value:'(UTC-03:00) Greenland'},
                    {name: 'Option 32', value:'(UTC-02:00) Mid-Atlantic'},
                    {name: 'Option 33', value:'(UTC-01:00) Azores'},
                    {name: 'Option 34', value:'(UTC-01:00) Cape Verde Is.'},
                    {name: 'Option 35', value:'(UTC+00:00) Casablanca'},
                    {name: 'Option 36', value:'(UTC+00:00) Edinburgh'},
                    {name: 'Option 37', value:'(UTC+00:00) Greenwich Mean Time : Dublin'},
                    {name: 'Option 38', value:'(UTC+00:00) Lisbon'},
                    {name: 'Option 39', value:'(UTC+00:00) London'},
                    {name: 'Option 40', value:'(UTC+00:00) Monrovia'},
                    {name: 'Option 41', value:'(UTC+00:00) UTC'},
                    {name: 'Option 42', value:'(UTC+01:00) Amsterdam'},
                    {name: 'Option 43', value:'(UTC+01:00) Belgrade'},
                    {name: 'Option 44', value:'(UTC+01:00) Berlin'},
                    {name: 'Option 45', value:'(UTC+01:00) Bern'},
                    {name: 'Option 46', value:'(UTC+01:00) Bratislava'},
                    {name: 'Option 47', value:'(UTC+01:00) Brussels'},
                    {name: 'Option 48', value:'(UTC+01:00) Budapest'},
                    {name: 'Option 49', value:'(UTC+01:00) Copenhagen'},
                    {name: 'Option 50', value:'(UTC+01:00) Ljubljana'},
                    {name: 'Option 51', value:'(UTC+01:00) Madrid'},
                    {name: 'Option 52', value:'(UTC+01:00) Paris'},
                    {name: 'Option 53', value:'(UTC+01:00) Prague'},
                    {name: 'Option 54', value:'(UTC+01:00) Rome'},
                    {name: 'Option 55', value:'(UTC+01:00) Sarajevo'},
                    {name: 'Option 56', value:'(UTC+01:00) Skopje'},
                    {name: 'Option 57', value:'(UTC+01:00) Stockholm'},
                    {name: 'Option 58', value:'(UTC+01:00) Vienna'},
                    {name: 'Option 59', value:'(UTC+01:00) Warsaw'},
                    {name: 'Option 60', value:'(UTC+01:00) West Central Africa'},
                    {name: 'Option 61', value:'(UTC+01:00) Zagreb'},
                    {name: 'Option 62', value:'(UTC+02:00) Athens'},
                    {name: 'Option 63', value:'(UTC+02:00) Bucharest'},
                    {name: 'Option 64', value:'(UTC+02:00) Cairo'},
                    {name: 'Option 65', value:'(UTC+02:00) Harare'},
                    {name: 'Option 66', value:'(UTC+02:00) Helsinki'},
                    {name: 'Option 67', value:'(UTC+02:00) Istanbul'},
                    {name: 'Option 68', value:'(UTC+02:00) Jerusalem'},
                    {name: 'Option 69', value:'(UTC+02:00) Kyiv'},
                    {name: 'Option 70', value:'(UTC+02:00) Pretoria'},
                    {name: 'Option 71', value:'(UTC+02:00) Riga'},
                    {name: 'Option 72', value:'(UTC+02:00) Sofia'},
                    {name: 'Option 73', value:'(UTC+02:00) Tallinn'},
                    {name: 'Option 74', value:'(UTC+02:00) Vilnius'},
                    {name: 'Option 75', value:'(UTC+03:00) Baghdad'},
                    {name: 'Option 76', value:'(UTC+03:00) Kuwait'},
                    {name: 'Option 77', value:'(UTC+03:00) Minsk'},
                    {name: 'Option 78', value:'(UTC+03:00) Moscow'},
                    {name: 'Option 79', value:'(UTC+03:00) Nairobi'},
                    {name: 'Option 80', value:'(UTC+03:00) Riyadh'},
                    {name: 'Option 81', value:'(UTC+03:00) St. Petersburg'},
                    {name: 'Option 82', value:'(UTC+03:00) Volgograd'},
                    {name: 'Option 83', value:'(UTC+03:30) Tehran'},
                    {name: 'Option 84', value:'(UTC+04:00) Abu Dhabi'},
                    {name: 'Option 85', value:'(UTC+04:00) Baku'},
                    {name: 'Option 86', value:'(UTC+04:00) Muscat'},
                    {name: 'Option 87', value:'(UTC+04:00) Tbilisi'},
                    {name: 'Option 88', value:'(UTC+04:00) Yerevan'},
                    {name: 'Option 89', value:'(UTC+04:30) Kabul'},
                    {name: 'Option 90', value:'(UTC+05:00) Ekaterinburg'},
                    {name: 'Option 91', value:'(UTC+05:00) Islamabad'},
                    {name: 'Option 92', value:'(UTC+05:00) Karachi'},
                    {name: 'Option 93', value:'(UTC+05:00) Tashkent'},
                    {name: 'Option 94', value:'(UTC+05:30) Chennai'},
                    {name: 'Option 95', value:'(UTC+05:30) Kolkata'},
                    {name: 'Option 96', value:'(UTC+05:30) Mumbai'},
                    {name: 'Option 97', value:'(UTC+05:30) New Delhi'},
                    {name: 'Option 98', value:'(UTC+05:30) Sri Jayawardenepura'},
                    {name: 'Option 99', value:'(UTC+05:45) Kathmandu'},
                    {name: 'Option 100', value:'(UTC+06:00) Almaty'},
                    {name: 'Option 101', value:'(UTC+06:00) Astana'},
                    {name: 'Option 102', value:'(UTC+06:00) Dhaka'},
                    {name: 'Option 103', value:'(UTC+06:00) Novosibirsk'},
                    {name: 'Option 104', value:'(UTC+06:30) Rangoon'},
                    {name: 'Option 105', value:'(UTC+07:00) Bangkok'},
                    {name: 'Option 106', value:'(UTC+07:00) Hanoi'},
                    {name: 'Option 107', value:'(UTC+07:00) Jakarta'},
                    {name: 'Option 108', value:'(UTC+07:00) Krasnoyarsk'},
                    {name: 'Option 109', value:'(UTC+08:00) Beijing'},
                    {name: 'Option 110', value:'(UTC+08:00) Chongqing'},
                    {name: 'Option 111', value:'(UTC+08:00) Hong Kong'},
                    {name: 'Option 112', value:'(UTC+08:00) Irkutsk'},
                    {name: 'Option 113', value:'(UTC+08:00) Kuala Lumpur'},
                    {name: 'Option 114', value:'(UTC+08:00) Manila'},
                    {name: 'Option 115', value:'(UTC+08:00) Perth'},
                    {name: 'Option 116', value:'(UTC+08:00) Singapore'},
                    {name: 'Option 117', value:'(UTC+08:00) Taipei'},
                    {name: 'Option 118', value:'(UTC+08:00) Ulaan Bataar'},
                    {name: 'Option 119', value:'(UTC+08:00) Urumqi'},
                    {name: 'Option 120', value:'(UTC+09:00) Osaka'},
                    {name: 'Option 121', value:'(UTC+09:00) Sapporo'},
                    {name: 'Option 122', value:'(UTC+09:00) Seoul'},
                    {name: 'Option 123', value:'(UTC+09:00) Tokyo'},
                    {name: 'Option 124', value:'(UTC+09:00) Yakutsk'},
                    {name: 'Option 125', value:'(UTC+09:30) Adelaide'},
                    {name: 'Option 126', value:'(UTC+09:30) Darwin'},
                    {name: 'Option 127', value:'(UTC+10:00) Brisbane'},
                    {name: 'Option 128', value:'(UTC+10:00) Canberra'},
                    {name: 'Option 129', value:'(UTC+10:00) Guam'},
                    {name: 'Option 130', value:'(UTC+10:00) Hobart'},
                    {name: 'Option 131', value:'(UTC+10:00) Magadan'},
                    {name: 'Option 132', value:'(UTC+10:00) Melbourne'},
                    {name: 'Option 133', value:'(UTC+10:00) Port Moresby'},
                    {name: 'Option 134', value:'(UTC+10:00) Sydney'},
                    {name: 'Option 135', value:'(UTC+10:00) Vladivostok'},
                    {name: 'Option 136', value:'(UTC+12:00) Auckland'},
                    {name: 'Option 137', value:'(UTC+12:00) Fiji'},
                    {name: 'Option 138', value:'(UTC+12:00) International Date Line West'},
                    {name: 'Option 139', value:'(UTC+12:00) Kamchatka'},
                    {name: 'Option 140', value:'(UTC+12:00) Marshall Is.'},
                    {name: 'Option 141', value:'(UTC+12:00) New Caledonia'},
                    {name: 'Option 142', value:'(UTC+12:00) Solomon Is.'},
                    {name: 'Option 143', value:'(UTC+12:00) Wellington'},
                    {name: 'Option 144', value:'(UTC+13:00) Nuku\'alofa'},
                    {name: 'Option 145', value:'(UTC-11:00) Midway Island'}
                ],
            }
        },

        computed: mapState({
            user: 'user',
        }),

        mounted() {
            this.getUser()
            this.getAvatar()
        },

        methods: {

            getUser() {
                this.$store.dispatch('loadUser')
            },

            getAvatar() {
              axios.get('api/users/me')
                  .then(response => {
                     this.avatar = response.data.avatar
                  })
            },

            getUserAvatar(e) {
                let image = e.target.files[0];
                this.read(image);
                let form = new FormData();
                form.append('image', image)
                this.file = form;
            },

            read(image) {
                let reader = new FileReader()
                reader.readAsDataURL(image)
                reader.onload = e => {
                    this.avatar = e.target.result
                }
            },

            uploadUserAvatar() {

                if (this.file == null) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Please choose some image',
                        showConfirmButton: false,
                        timer: 1500
                    })
                } else {
                    axios.post('/api/profile/upload-avatar', this.file)
                    .then(response => {
                        this.getUser()
                        Swal.fire(
                            'Congratulations',
                            'Your image uploaded!',
                            'success'
                        )
                    })
                }
            },

            updateProfile() {
                this.errors.name = ''
                this.errors.email = ''
                axios
                    .patch(`/api/users/` + this.user.id, {
                        id: this.user.id,
                        name: this.user.name,
                        email: this.user.email,
                        timezone: this.user.timezone
                    })

                    .then((response) => {
                        if(response.status === 200) {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Your profile updated successfully',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    })

                    .catch(error => {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: 'Your profile has not been changed',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        if (error.response.status === 422) {
                            console.log(error.response.data.errors);
                            this.errors.name = error.response.data.errors.name[0]
                            this.errors.email = error.response.data.errors.email[0]
                        }
                    })
                },
        }
    }

</script>


